<%=nested_form_for @blog do |f|%>

<p>
<%=f.label :lebel%>
<%=f.text_field :title%>
</p>

<p>
<%=f.label  :description%>
<%=f.text_field :description%>
</p>

<p>
 <table id="images">
  <%= f.fields_for :images do |image_form| %>
    <tr class="fields">
      <td><%= image_form.file_field :image %></td>
     
      <td><%= image_form.link_to_remove "Remove this image" , :class=>"btn btn-success" %></td>
    </tr>
  <% end %>
</table>
<p><%= f.link_to_add "Add a image", :images, "data-target" => "#images",:class=>"btn-primary"  %></p> 
 </p>

<p>
<%=f.label  :vedio%>
<%=f.file_field :vedio%>
</p>

<p>
<%=f.label  :document%>
<%=f.file_field :document%>
</p>

<p>
<%= f.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select Category') %>
<%#=f.select(:category_id, Category.all.collect,{|u|,[u.name, u.id]},:prompt=>'select category')%>
</p>

<p>
<%=f.submit%>
</p>

<%end%>
<%= link_to 'Back', blogs_path %>